<template name="posts">
  {{#if isProcessing}} Loading posts ... {{> spinner}} {{else}}
  <button id="post_reply" class="mdc-button mdc-button--raised mdc-button--primary">
          New Post
</button>
  <button id="markRead" class="mdc-button mdc-button--raised mdc-button--primary">
          Mark as read
</button> {{{pager}}} {{#each posts}} {{> post}} {{/each}} {{{pager}}} {{/if}}
</template>

<template name="post">
  <style>
    .demo-card--with-avatar .mdc-card__primary {
      position: relative;
    }

    .demo-card--with-avatar .demo-card__avatar img {
      position: absolute;

      height: 2.5rem;
      /* 40sp */
      width: 2.5rem;
      /* 40sp */
      border-radius: 50%;
    }

    .demo-card--with-avatar .mdc-card__title,
    .demo-card--with-avatar .mdc-card__subtitle {
      margin-left: 56px;
    }

    .tooltip {
      z-index: 1001;
      pointer-events: none;
      transition: opacity .1s ease-out;
      opacity: 0;
    }

    .tooltip.hide {
      opacity: 0;
    }

    .tooltip.show {
      opacity: 1;
    }
  </style>
  <div class="mdc-card demo-card demo-card--with-avatar">
    <section class="mdc-card__primary">
      <div class="demo-card__avatar"><img src="{{getAvatarURL avatar_url}}" /></div>
      <h1 class="mdc-card__title">{{username}} ({{usertitle}})</h1>
      <h2 class="mdc-card__subtitle">{{getDate dateline}}</h2>
    </section>
    <section class="mdc-card__supporting-text">
      <p>{{{ bbtohtml pagetext }}}</p>
    </section>
    <section class="mdc-card__actions">
      <button id="thanks" data-tooltip="{{thanks_usernames}}" class="mdc-button mdc-button--compact mdc-card__action">{{thanks_count}}<i style="font-size: 18px; vertical-align: middle" class="material-icons" aria-hidden="true">favorite</i></button>
      <button class="mdc-button mdc-button--compact mdc-card__action"><i style="font-size: 18px; vertical-align: middle" class="material-icons" aria-hidden="true">format_quote</i></button>      {{#if isPostAuthor userid}}
      <button id="edit" class="mdc-button mdc-button--compact mdc-card__action"><i style="font-size: 18px; vertical-align: middle" class="material-icons" aria-hidden="true">edit</i></button>      {{/if}}
    </section>
  </div>
{{ > tooltips }}
</template>